<div class="flex justify-center">
    <form
      (ngSubmit)="submit()"
      #myForm="ngForm"
      class="p-4 mt-20 rounded-lg border m-auto w-1/3"
    >
      <h1 class="text-center text-xl">Register</h1>
      <div class="my-5 w-full">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          #email="ngModel"
          required
          class="p-2 rounded w-full border"
          placeholder="Email Address"
          [(ngModel)]="form.email"
        />
      </div>
      <div
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="p-2 bg-red-300 text-red-800 rounded"
      >
        Email field must be valid
      </div>
      <div class="my-5 w-full">
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          #password="ngModel"
          required
          class="p-2 rounded w-full border"
          placeholder="Password"
          [(ngModel)]="form.password"
        />
      </div>
      <div
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="p-2 bg-red-300 text-red-800 rounded"
      >
        Password field must be valid
      </div>
      <div>
        <input
          type="submit"
          [disabled]="myForm.form.invalid"
          class="p-2 w-full bg-purple-700 text-white hover:bg-purple-900 rounded"
        />
      </div>
    </form>
  </div>
  