<nav class="flex justify-between p-4 bg-purple-900 text-white">
  <div>
    <a class="mx-4" [routerLink]="['']" routerLinkActive="active">Book Shop</a>
  </div>
  <div>
    <a class="mx-4" [routerLink]="['/cart']" routerLinkActive="active"
      >My Cart</a
    >
    <a class="mx-4" [routerLink]="['/login']" routerLinkActive="active"
      >Login</a
    >
    <a class="mx-4" [routerLink]="['/register']" routerLinkActive="active"
      >Register</a
    >
  </div>
</nav>
<div class="p-4">
  <router-outlet></router-outlet>
</div>
